*
# Don't ignore directories so we can recurse into them
!*/
!*.c
!*.so
!*.sh
*~*.c
*main.c
#temporary
*_putchar.c
!*.h
!*.a
!*.md
0x09-static_libraries/*.c
!0x09-static_libraries/*.sh
# temporary
#!0x09-static_libraries/*
!0x0F-function_pointers/3-main.c
